<launch>
  <node pkg="rosserial" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <node name="wheels_controller" pkg="wheels_controller" type ="wheels_controller"/>
  <node name="keyboard_test" pkg="movement_controller' type="keyboard_test"/>
  <node name="movement_controller pkg="movement_controller" type="movement_controller"/>
</launch>

